<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Expense List</title>
</head>
<body>

<h2>Expense List</h2>

<a th:href="@{/expenses/new}">Add New Expense</a>

<br><br>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Company</th>
        <th>Project</th>
        <th>Name</th>
        <th>Amount</th>
        <th>Description</th>
    </tr>

    <tr th:each="exp : ${expenses}">
        <td th:text="${exp.id}"></td>
        <td th:text="${exp.companyId}"></td>
        <td th:text="${exp.projectId}"></td>
        <td th:text="${exp.expenseName}"></td>
        <td th:text="${exp.amount}"></td>
        <td th:text="${exp.description}"></td>
    </tr>

</table>

</body>
</html>